.comment_time {
  font-size: 11px;
}

.commenter_name {
  font-size: 14px;
}

.comment_text {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .commenter_dp {
    width: 35px;
    height: 35px;
  }

  .commenter_name {
    font-size: 11px;
  }

  .comment_text {
    font-size: 12px;
  }

  .comment_time {
    font-size: 9.5px;
  }
}
