.mirrorWrapper {
  resize: vertical;
  min-height: 150px;
}

/*For Chrome, Safari and Opera*/
/* width*/
.mirrorWrapper::-webkit-scrollbar {
  width: 7px;
}

/* track*/
.mirrorWrapper::-webkit-scrollbar-track {
  background: rgba(121, 113, 113, 0.185);
}

/* handle*/
.mirrorWrapper::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 50px;
}

/* handle on hover*/
.mirrorWrapper::-webkit-scrollbar-thumb:hover {
  background: #9b9999;
}

/*For IE, Edge add Firefox*/
.mirrorWrapper {
  scrollbar-width: 7px;
}

@media screen and (max-width: 400px) {
  .editorIcons {
    width: 15px;
    height: 15px;
  }
}
