.wrapper {
  width: calc(100% - 32px);
  max-width: 400px;
  z-index: 500;
  transition: 300ms;
}

.content {
  font-size: 14px;
  border-left-width: 10px;
  border-left-style: var(--bs-border-style);
  border-color: rgb(var(--bs-danger-rgb));
}

.body {
  flex: 1 1 100%;
}
