.customModal {
  opacity: 0;
  pointer-events: none;
  transition: 400ms all ease-in-out;
}

.show {
  opacity: 1;
  z-index: 9999;
  pointer-events: all;
}

.customModalDialog {
  background-color: var(--bg-brand);
}

.modal_img {
  max-width: 900px;
  max-height: calc(100vh - 150px);
}

@media screen and (max-width: 480px) {
  .modalBtn {
    font-size: 13px;
  }
}
