.customModal {
  z-index: 9999;
}

.customModalDialogWrapper {
  max-width: 900px;
  max-height: 900px;
}

.customModalDialog {
  background-color: var(--bg-brand);
}

.modal_img {
  max-height: 600px;
}

@media screen and (max-width: 480px) {
  .customModalDialogWrapper {
    padding: 2rem !important;
  }
}

@media screen and (max-width: 480px), (max-height: 650px) {
  .modalBtn {
    font-size: 13px;
  }
}

@media screen and (max-width: 360px), (max-height: 550px) {
  .modalBtn {
    font-size: 11px;
  }

  .customModalDialogWrapper,
  .customModalDialog {
    padding: 1rem !important;
  }
}
