.notificationWrapper {
  pointer-events: none;
  z-index: 999999;
}

.notification {
  pointer-events: all;
  width: calc(100% - 1rem);
  max-width: 400px;
  height: fit-content;
  font-size: 14.5px;
  transform: translateY(150%);
  animation-duration: 200ms;
  animation-fill-mode: forwards;
}

.notification:not(.notification-reverse) {
  animation-name: animation;
}

.notification-reverse {
  animation-name: animation-reverse;
}

.message {
  color: rgb(144, 146, 150);
}

.indicator {
  width: 6px;
  left: -4px;
}

.closeBtn {
  padding: 0 0.2rem;
}

.closeBtn:hover {
  background-color: #1a1a1a;
}

.closeBtnIcon {
  fill: rgba(255, 255, 255, 0.3);
}

@keyframes animation {
  from {
    transform: translateY(150%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes animation-reverse {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(150%);
  }
}

@media screen and (max-width: 576px) {
  .notification {
    font-size: 14px;
  }
}

@media screen and (max-width: 400px) {
  .notification {
    font-size: 13px;
  }
}
