.post_media {
  max-height: 500px;
}

.post_caption {
  --max-lines: 5;
  --font-size: 14px;
  --line-height: 1.5;

  white-space: pre;
  overflow: hidden;
  font-size: var(--font-size);
  line-height: var(--line-height);
  letter-spacing: 1.3px;
}

.post_caption:has(+ .expand_btn:not(:checked)) {
  max-height: calc(var(--max-lines) * var(--font-size) * var(--line-height));
}

.post_caption:has(+ .expand_btn:not(:checked))::before {
  --shadow-count: 4;
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: calc(var(--shadow-count) * var(--font-size) * var(--line-height));
  background: linear-gradient(to bottom, transparent, #27363e);
}

.react_btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.post_creation_date {
  font-size: 11px;
}

.report_btn {
  bottom: -20px;
  right: 45px;
  width: max-content;
}

.report_btn:hover {
  background-color: #27363e !important;
}

.post_settings:focus-within .report_btn {
  display: block !important;
}

.interectionCount {
  font-size: 11px;
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0.75rem !important;
  }

  .postContainer {
    gap: 1rem !important;
  }

  .dpImg {
    width: 35px;
    height: 35px;
  }

  .autherName {
    font-size: 11px;
  }

  .post_creation_date {
    font-size: 9.5px;
  }

  .post_caption {
    --font-size: 11px;
  }

  .react_btn {
    font-size: 14px;
  }

  .react_btn > svg {
    width: 20px;
    height: 20px;
  }

  .postInterBtn {
    font-size: 9px;
  }

  .post_media {
    max-height: 400px;
  }
}

@media screen and (max-width: 410px) {
  .react_btn {
    padding: 0.25rem !important;
  }

  .interectionCount {
    font-size: 9px;
  }

  .post_settings > svg {
    width: 5px;
    height: 20px;
    padding-right: 10px !important;
    padding-left: 10px !important;
  }

  .report_btn {
    padding: 3px 8px;
  }

  .report_btn > svg {
    width: 10px;
    height: 10px;
  }

  .report_btn > small {
    font-size: 11px;
  }
}
