@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
  --spacing-px: 15px;
  --spacing-vw: 1vw;
  --brand-color: #00adff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}



/* custom bootstrap classes */

/* display flex and team */
.d-flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.justify-content-center{
  justify-content: center;
}
.align-items-center{
  align-items: center;
}


/* height width */
.h-100{
  height: 100%;
}
.vh-100{
  height: 100vh;
}
.w-100{
  width: 100% !important;
}
.w-50{
  width: 50%;
}
.vw-100{
  width: 100vw;
}

/* postion */
.position-relative{
  position: relative;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background-color: #1D1F21;
  }
}

@media screen and (min-width: 1600px) {
  :root{
    --spacing-px: var(--spacing-vw)
  }
}
