.container {
  width: 500px;
  gap: 15px;
  overflow: hidden;
  scroll-behavior: smooth;
}

.user_img{
  object-fit: cover;
  background-color: gray;
  border-radius: 10px;
  height: fit-content !important;
  max-height: 100%;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%);

  /* don't select it */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.img_container{
  flex: 0 0 100%;
  height: calc(100vh - 15px);
  border-radius: 10px;
  overflow: hidden;
}

.description {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  padding: 20px;
  line-height: 24px;
  word-break: break-word;
  padding-top: 70px;
  background: linear-gradient(0deg, #000000c7 40%, #00000091 70%, transparent);
}

.prev_btn{
  margin-right: 15px;
  cursor: pointer;
}

.next_btn{
  margin-left: 15px;
  cursor: pointer;
}

.user_profile_link{
  color: #00adff;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 20px;
}