.content{
    max-width: 500px;
}

.wrapper {
   max-height: 800px;
   scroll-behavior: smooth;
}

.post_img{
    touch-action: none;
    cursor: grab;
}

.post_caption{
    background: linear-gradient(0deg, 
                    #000000c7 25%, 
                    #00000091 60%, 
                    transparent);
    letter-spacing: 1px;
    line-height: 1.6;
    opacity: 0;
    transition: 300ms;
    pointer-events: none;
}

.post:hover .post_caption{
    opacity: 1;
    pointer-events: initial;
}

@media screen and (max-width: 440px) {
    .icons{
        width: 25px;
        height: 25px;
    }
    .post_caption{
        font-size: 13px;
        line-height: unset;
    }
    .op_profile{
        font-size: 18px !important;
    }
}