.content{
    gap: var(--spacing-px);
}

.user_img{
    border-radius: 50%;
    object-fit: contain;
    background-color: gray;
    border: 2px solid white;
}

.post{
    width: 200px;
    height: 150px;
    border: 1px solid white;
    margin-top: 10px;
}

.user_dp_sec{
    width: fit-content;
    margin: auto;
}

.user_dp_edit_btn{
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid;
}

.user_general_info{
    gap: var(--spacing-px);
}

:is(.user_name, .user_email) > span{
    background-color: var(--color-dark);
    flex-grow: 1;
    border-radius: 3px;
    padding: 3px 10px;
}

:is(.user_name, .user_email){
    gap: var(--spacing-px);
}

.new_post_btn{
    margin-top: calc(var(--spacing-px) * 2);
    padding: var(--spacing-px) 0;
}

.dark_icon{
    fill: var(--dark-icon);
}

.dark_icon_var_2{
    fill: var(--dark-icon-var-2);
}

.light_icon{
    fill: var(--light-icon);
}

.color_light{
    background-color: var(--color-light);
}